
.Pedidos {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}


.Pedidos li {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 15px 20px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  width: 65%;
  display: flex;
  flex-direction: column;
  margin: 2% auto 2%;
}


.Pedidos li:hover {
  background-color: #e1e1e1;
}

/* Texto em destaque */
.Pedidos li strong {
  color: black;
}

h2{
   width: 55%;
   margin: 3% auto;
}

p{
   width: 55%;
   margin: 3% auto;
}

.botoes{
  display: flex;
  gap: 5px; 
  justify-content: flex-end;
}

.Aprovar{
  background-color: green;
  border: none;
  color:white;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
}

.Rejeitar{
  background-color: red;
  border: none;
  color:white;
   cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
}
.modal-actions{
  display: flex;
  gap: 5px; 
  justify-content: flex-end; 
  margin: 0; 
}

.modal-actions button{
  padding: 1%;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #000;
  color: white;
  cursor: pointer;
}

.modal-actions button:hover{
  transition: 0.3s;
  color: var(--Background-color1);
  border: 1px solid var(--Background-color1);
}

.modal-actions .btn-cancel:hover{
  transition: 0.3s;
  color: red;
  border: 1px solid red;
}