
.lista-contactos {
  background-color: white;
  padding: 1%;
  color: rgb(73, 73, 73);
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid rgb(44, 135, 100);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 15px black;
  margin: 5% auto 3%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.linha-contacto{
  margin:0;
  padding:0;
   border-bottom: 1px solid #ccc;
}

.barra-pesquisa {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding: 2%;;
}

.campo-pesquisa {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 250px;
}
