h1{
  margin-bottom: 10px;
}

.contact-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.75rem;
}

.Button{
  padding: 0.75rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  margin: 1% auto 0;
  cursor: pointer;
  width: 50%;
  background-color: rgb(44, 135, 100);
  color:white;
}

.Button:hover{
  transform: scale(1.02);
}