.pagelogin {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que a página ocupe toda a altura da janela */
  color: white;
}

.header{
    text-align: center;
    padding: 0;
    margin-top: 2%;
}

.login{
  container: center;
  margin: 5% auto 0;
  width: 40%;
  border: 2px solid black;
  box-shadow: 8px 10px 10px rgba(193, 215, 212, 0.2);
  border-radius: 10px;
  background-color: rgb(193, 215, 212);
  color: #000;
  padding: 2% 3%;
}

.loginp{
  margin-bottom: 2%;
}

form input{
  width: 100%;
  padding: 10px;
  margin: 1% auto 3%;
  border: none;
  border-radius: 8px;
  background-color: #f1f1f1;
  font-size: 16px;
}

form p{
  text-align: center;
  margin-bottom: 1%;
}

.error{
  color: red;
  font-size: 14px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.button{
  border: 1px solid #000;
  border-radius: 5px;
  padding: 8px ;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 2% auto 4%;
  cursor: pointer;
  width: 30%;
  position: relative;
  left: 68%;
}

.footer {
  margin-top: auto; /* Empurra o rodapé para o final da página */
  text-align: center;
  width: 100%;
  padding: 1.5% 0;
}
.footer hr{
  margin-bottom: 1%;
}