:root {
  --background-color1: rgb(44, 135, 100);
  --background-color: #d0e3e0;
  --active-bg: #ffffff;
}

.dashboard{
  justify-content: center;
  padding: 20px;
  /* transição e margem quando a navbar está aberta */
  transition: margin-left 0.3s ease;
  margin-left: 5%;
}
