.modal{
    width: 55%;
    margin: 3% auto;
}

.modal h2{
    text-align: left;
    margin: 0;
    padding: 0;
}

.form-reuniao{
    margin: 2% auto 2%;
    padding: 3% 4% 5%;
    border: 4px solid #000;
    border-radius: 5px;
    background-color: white;
}

.form-reuniao label{
    margin: 0 auto;
    font-size:large;
}

.input-reuniao{
    display: flex;
    width: 75%;
    margin: 1% 0 1.5%;
    padding: 0.7%;
    border-radius: 5px;
    border: 1px solid #000;
}

.label-message {
    width: 100%;
    margin-bottom: 2%;
}

.verpedidos{
    background-color: black;
    color: white;
    border-radius: 10%;
    cursor: pointer;
    padding: 1% 2%;
    margin: 2% auto 0;
    display: block; 
    text-align: center;
}

.reuniao-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    margin-bottom: 2%;
}

.reuniao-row label {
    font-size: large;
    margin-bottom: 0.5%;
}

.reuniao-row input {
    width: 100%;
    padding: 0.7%;
    border-radius: 5px;
    border: 1px solid #000;
}

.reuniao-description{
    display: grid;
}

.reuniao-description textarea{
    font-size: large;
}

.modal-buttons-reuniao{
    margin: 4% 0 0;
    display: flex;
    justify-content: space-between;
}

.modal-buttons-reuniao button{
    padding: 1% 2%;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: white;
    color: #000;
    cursor: pointer;
}

.modal-buttons-reuniao button:hover{
    background-color: rgba(238, 238, 238, 0.675);
    transition: ease 0.3;
}

.modal-buttons-reuniao .btn-cancel:hover{
    color: red;
    border: 2px solid red;
}

.modal-buttons-reuniao .btn-submit:hover{
    color: green;
    border: 2px solid green;
    
}
