.modal{
    width: 55%;
    margin: 3% auto;
}

.form-post{
    margin: 2% auto 2%;
    padding: 2% 4% 5%;
    border: 3px solid #000;
    border-radius: 5px;
    background-color: white;
}

.form-post label{
    margin-left: 4%;
    font-size:large;
}

.label-title input{
    width: 75%;
    margin: 1% 2% 1.5%;
    padding: 0.7%;
    border-radius: 5px;
    border: 1px solid #000;
}
.label-message div{
    margin-left: 4%;
}

.label-message textarea{
    width: 75%;
    padding: 0.7%;
    margin: 1% 13% 3%;
    border-radius: 5px;
    border: 1px solid #000;
}

.file-upload{
    width: 85%;
    display: flex;
    border: 1px solid #000;
}

.preview-image{
    width: 50% ;  
    display: flex;
    margin: 5% auto;
    border-radius: 5px;
    border: 1px solid #000;
}

.modal-actions{
    display: flex;
    justify-content: space-between;
    margin: 2% auto 0;   
}

.modal-actions button{
    width: 20%;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #000;
    color: white;
    cursor: pointer;
}

.modal-actions button:hover{
    transition: 0.3s;
    color: var(--Background-color1);
    border: 1px solid var(--Background-color1);
}

.modal-actions .btn-cancel:hover{
    transition: 0.3s;
    color: red;
    border: 1px solid red;
}